.main.container.segment
  .ui.form
    %h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .required.field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
      .required.field
        = f.label :password
        - if @validatable
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off"
      .required.field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        .ui.buttons
          %a.ui.button{ href: new_user_session_path }
            Log in
          .or
          = f.submit "Sign up", class: "ui positive button"
