= form_for([@project, @version]) do |f|
  - if @version.errors.any?
    #error_explanation
      %h2
        = pluralize(@version.errors.count, "error")
        prohibited this version from being saved:
      %ul
        - @version.errors.full_messages.each do |message|
          %li= message
  .ui.grid
    .eight.wide.column
      .ui.form
        %h4 Version Number
        .fields.inline
          .field
            - latest = @version.major.nil? ? @project.versions.last : @version
            = f.number_field :major, style: "width: 5em", value: latest.major
          .field
            = f.number_field :mid, style: "width: 5em", value: latest.mid
          .field
            = f.number_field :minor, style: "width: 5em", value: latest.minor + (@version.major.nil? ? 1 : 0)
        %h4 Version Stability
        .fields
          .ui.toggle.checkbox.field
            = f.check_box :stable
            %label
              Stable Build
          .ui.toggle.checkbox.field
            = f.check_box :rec
            %label
              Recommended Build
        .fields
          .field
            %label File
            = f.file_field :file
      %br
      .actions
        %a.ui.button.primary{href: project_versions_path(@project) }
          Cancel
        =f.submit "Save", class:"ui primary button"


:javascript
  function ready(){
    $('.ui.checkbox').checkbox();
  }

  $(document).ready(ready);
  $(document).on('page:load', ready);
