%p#notice= notice
%h1 Listing Versions
%table
  %thead
    %tr
      %th Major
      %th Mid
      %th Minor
      %th{:colspan => "3"}
  %tbody
    - @versions.each do |version|
      %tr
        %td= version.major
        %td= version.mid
        %td= version.minor
        %td= link_to 'Show', project_version_path(@project, version)
        %td= link_to 'Edit', edit_project_version_path(@project, version)
        %td= link_to 'Destroy', [@project, version], method: :delete, data: { confirm: 'Are you sure?' }
%br
  = link_to 'New Version', new_project_version_path
