.ui.grid
  .eight.wide.column
    %h1
      Listing All Versions For
      =@project.name
  .eight.wide.right.aligned.column
    %a#api-example.ui.button{"data-title" => "API Example", "data-content" => "/projects/#{@project.id.to_s}/[action]?major=-1&mid=-1&minor=-1&type=abs" }
      API
    %a.ui.primary.button{ href: new_project_version_path(@project) }
      New Version
%table.ui.celled.striped.table
  %tbody
    - @versions.each do |version|
      =form_for([@project, version]) do |f|
        %tr{class: "on-hover", tag: "edit-tag-" + version.id.to_s}
          %td
            .ui.grid{ onclick: "toggle('#{version.id}')"}
              .four.wide.column
                %h2
                  =version.to_s
              .six.wide.column
                - if version.stable
                  .ui.label.blue
                    Stable
                - if version.rec
                  .ui.label.green
                    Recommended
              .three.wide.column
                .ui.label.right
                  =version.downloads.count
                  Downloads
              .three.wide.right.aligned.column{ id: "edit-tag-" + version.id.to_s, style: "display:none; color:black"}
                %a.ui.label{href: edit_project_version_path(@project, version) }
                  =semantic_icon(:write)
                  Edit
            .content{ id: "content-#{version.id}", style: "display:none" }
              .ui.divider
              .ui.grid
                .eight.wide.column
                  .ui.form
                    %h4 Version Number
                    .fields.inline
                      .field
                        = f.number_field :major, style: "width: 5em"
                      .field
                        = f.number_field :mid, style: "width: 5em"
                      .field
                        = f.number_field :minor, style: "width: 5em"
                    %h4 Version Stability
                    .fields
                      .ui.toggle.checkbox.field
                        = f.check_box :stable
                        %label
                          Stable Build
                      .ui.toggle.checkbox.field
                        = f.check_box :rec
                        %label
                          Recommended Build
                  =f.submit "Save", class:"ui primary button"
                .eight.wide.column
                  %h3 Recent Downloads
                  %table.ui.table
                    - if version.downloads.count > 0
                      %thead
                        %tr
                          %th IP Address
                          %th Date and Time
                      %tbody
                        - version.downloads.each do |download|
                          %tr
                            %td=download.ip
                            %td=download.created_at.localtime.strftime("%d/%m/%y %H:%M:%S")
                    - else
                      %h5 This version has not yet been downloaded.
        /%td= link_to 'Show', project_version_path(@project, version)
        /%td= link_to 'Edit', edit_project_version_path(@project, version)
        /%td= link_to 'Destroy', [@project, version], method: :delete, data: { confirm: 'Are you sure?' }h


:javascript
  function ready(){
    $('.ui.accordion').accordion();
    $('.ui.checkbox').checkbox();

    $('.on-hover').mouseenter(function(){
      $('#' + $(this).attr('tag')).show();
    });

    $('.on-hover').mouseleave(function(){
      $('#' + $(this).attr('tag')).hide();
    });

    $('#api-example').popup({
      hoverable: true,
      delay: {
        show: 300,
        hide: 800
      }
    });
  }

  function toggle(id){
    var content = $("#content-" + id);
    if (content.is(":visible")){
      content.slideUp();
    }else{
      content.slideDown();
    }
  }

  $(document).ready(ready);
  $(document).on('page:load', ready);
